body {
    font-family:'Inter', sans-serif;
    line-height:1.6;
    margin:0;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
section {
    width:100%;
    max-width:800px;
    padding:25px;
    margin-bottom:20px;
    border-radius:12px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.452);
    transition:transform 0.2s;
}
section:hover {
    transform:translateY(-2px);
}
h1 {
    color:#3e145a;
}
h2 {
    color:#652391;
    border-left:5px solid #652391;
    border-radius:5px;
    padding-left:15px;
    margin-top:0;
}
input {
    padding:10px 15px;
    border:2px solid #b39dc2;
    border-radius:8px;
    width:770px;
    margin-bottom:10px;
}
button {
    background-color:#a677c5;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:background 0.3s;
}
button:hover {
    background-color:#5a4269;
}
button:disabled {
    background-color:#bdc3c7;
    cursor:not-allowed;
    transform:none !important;
    box-shadow:none !important;
}
.wynik {
    margin-top:15px;
    padding:15px;
    border-radius:5px;
    border-left:3px solid #e0e0e0;
    font-family:'Courier New', Courier, monospace;
    word-wrap:break-word;
    max-height:300px;
    overflow-y:auto;
}
section p {
    text-align:center;
    font-weight:bold;
    color:#5a4269;
}
div b {
    color:#652391;
}